@import './base.css';

/*#region LoginForm*/

.row{
    margin: 0;
}

.row .container{
margin-top: 60px;
}

.row .container .card{
width: 400px;
background-color: #fff9f9;
margin: auto auto;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.row .container .card .form-label{
font-size: 16px;
}

.row .container .card .form-title{
padding-bottom: 25px;
}

.row .container .card .form-input{
width:100%;
}

.row .container .card .login-button{
text-align: right;
}

/*#endregion LoginForm*/

/*#region Navbar*/

nav {
    background-color: black;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
    height: 60px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
}

/*#endregion Navbar*/