@import './base.css';

/*#region LoginForm*/

.container .login-form {
    margin-top: 60px;
}

.container .row .card {
    width: 400px;
    background-color: #fff9f9;
    margin: auto auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
}

.container .row .card .form-label {
    font-size: 16px;
}

.container .row .card .form-title {
    padding-bottom: 25px;
}

.container .row .card .form-input {
    width: 100%;
}

.container .row .card .login-button {
    text-align: right;
}

/*#endregion LoginForm*/

/*#region Navbar*/

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 50px;
    background-color: #333;
    color: #fff;
}

.logo img {
    height: 40px;
}

.basic-information {
    text-align: right;
}

.basic-information .user-image {
    background-color: grey;
    border-radius: 50%;
    border: white 2px;
    border-style: solid;
    margin-left: 20px;
}

.logout {
    text-align: right;
}

.logout a {
    text-decoration: none;
    padding: 10px;
    color: white;
    cursor: pointer;
}

/*#endregion Navbar*/

/*#region Post List Component*/

.posts-button {
    text-align: right;
    margin: auto 0 !important;
}

.posts-title {
    padding: 40px;
}

.posts-button button {
    box-shadow: 0 0 10px rgb(0 0 0 / 50%);
    width: 35%;
}

.posts-email {
    width: 40%;
}

.email-form label {
    display: block;
}

.inline {
    display: inline;
}

.get-posts {
    margin-left: 5px;
    vertical-align: unset;
}

.container .row .card-post {
    background-color: #fff9f9;
    box-shadow: 0 0 10px rgb(0 0 0 / 50%);
    border-radius: 1rem;
    margin: 20px 30px;
    width: 20%;
}

.container .row .card-post-body {
    padding: 10px !important;
}

p {
    font-size: 14px;
}

/*#endregion Post List Component*/